/* global.css :root {
  --primary-color: #0A2463;
  --text-color: white;
  --background-color: #f5f7fa;
  --secondary-color: #00B4FF;
}

body {
  margin: 0;
  font-family: 'Microsoft YaHei', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  overflow-x: hidden;
  line-height: 1.6;
}*/